//  COLOR PALETTE
$color-primary: #656d4a;
$color-primary-light-1: #c2c5aa;
$color-primary-light-2: #a4ac86;
$color-primary-dark-1: #414833;
$color-primary-dark-2: #333d29;

$color-secondary: #936639;
$color-secondary-light-1: #b6ad90;
$color-secondary-light-2: #a68a64;
$color-secondary-dark-1: #7f4f24;
$color-secondary-dark-2: #582f0e;
$color-secondary-dark-3: #463f3a;

$color-creme: #f1ece2;

$color-black: #000;
$color-white: #fff;
$color-grey-light: #eee;

$xl: 100em; //1600px
$lg: 68.75em; //1050px
$md: 43.75em; //700px
$sm: 18.75rem; //300px