.footer {
  grid-column: 1/-1;
  padding: 3rem 1rem;
  font-size: 1.4rem;
  background-color: $color-secondary-dark-2;
  color: $color-secondary-light-1;
  overflow: hidden;

  &__contain {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__icon {
    fill: $color-secondary-light-1;
  }
}