.header {
  background-color: $color-secondary-light-1;

  position: sticky;
  font-size: 2rem;

  .header__container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    fill: $color-secondary-dark-3;
  }
}


  .navigation {

    &__link,
    &__link:link,
    &__link:visited {

      text-decoration: none;
      color: $color-secondary-dark-3;
    }

    &__list {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__item {

    }

    &__item:not(:last-child) {
      margin-right: 2rem;
    }
  }





