.header {
  background-color: $color-secondary-light-1;

  position: sticky;
  font-size: 2rem;

  .header__container {
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  &__logo {
    display: flex;
    align-items: center;
    fill: $color-secondary-dark-3;
  }

  .navigation {

    &__nav {
      position: relative;
    }

    &__button {
      cursor: pointer;
      display: inline-block;
    }

    &__icon {

      display: inline-block;
      width: 3.5rem;
      height: .3rem;
      background-color: $color-secondary-dark-3;
      position: relative;

      &::before,
      &::after {
        content: '';
        display: inline-block;
        width: 3.5rem;
        height: .3rem;
        background-color: $color-secondary-dark-3;
        position: absolute;
        transition: all .2s ease-in;
      }

      &::before {
        top: -1rem;
      }

      &::after {
        top: 1rem;
      }
    }

    &__list {
      display: none;
      position: absolute;
      background-color: $color-primary-dark-1;
      border-radius: 5%;
      padding: 3rem;
      list-style: none;
      top: 0;
      left: 0;

    }

    &__link {

      text-decoration: none;

      &:link,
      &:visited {
        color: $color-primary-light-2;
      }
    }

    &__button:hover .navigation__icon::before {
      top: -1.2rem;
    }

    &__button:hover .navigation__icon::after {
      top: 1.2rem;
    }

    &__button:hover .navigation__list  {
      display: inherit;
    }
  }
}




