.header {
  grid-column: 1/-1;
  background-color: $color-secondary-light-1;
  position: sticky;
  top: 0;
  width: 100%;
  font-size: 2.2rem;
  z-index: 10;
  backface-visibility: hidden;

  @media screen and (max-width: $lg) {

    position: relative;
  }

  &__container {

    animation: whooshTop ease-in-out 1s;
    max-width: 120rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;

    @media screen and (max-width: $lg) {

      flex-direction: column;
    }
  }

  &__name {
    color: $color-black;
    text-align: center;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: $lg) {

      flex-direction: column;
      margin-bottom: 5rem;
    }

  }

  &__icon {
    fill: $color-secondary-dark-3;
  }
}





