.navigation {

  backface-visibility: hidden;


  &__link {

    display: block;
    @media screen and (max-width: $lg) {
      display: flex;
      justify-content: center;
      font-size: 3rem;
    }

    padding: 2rem 1.5rem;

    &:link,
    &:visited {

      text-decoration: none;
      color: $color-secondary-dark-3;
    }

    &:hover {

      background-color: $color-secondary-dark-3;
      color: $color-secondary-light-1;
    }

    &:active {

      background-color: $color_primary-dark-2;
      color: $color-primary-light-1;
    }
  }

  &__list {
    list-style: none;

    @media screen and (max-width: $lg) {

      flex-wrap: wrap;
      flex-direction: column;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  &__item {
    display: inline-block;
    position: relative;

    & > .navigation__link::before {

      @media screen and (max-width: $lg) {

        display: none;
      }

      content: '';
      display: inline-block;
      height: 1.5rem;
      width: 1.5rem;
      margin-right: .7rem;


      // OLD
      background-image: url("../img/arrow.svg");
      background-size: cover;

      // NEW
      @supports (-webkit-mask-image: url("")) or (mask-image: url("")) {
        background-color: $color-primary-dark-2;
        -webkit-mask-image: url("../img/arrow.svg");
        -webkit-mask-size: cover;
        mask-image: url("../img/arrow.svg");
        mask-size: cover;
        background-image: none;

      }
    }

    &:hover > .navigation__link::before {
      @supports (-webkit-mask-image: url("")) or (mask-image: url("")) {
        background-color: $color-primary;

        transform: rotate(450deg);
        transition: background-color .1ms linear;

        }
    }

    & > .navigation__link:only-child::before {
      content: "";
      display: none;
    }
  }

  .navigation__item:hover > .dropdown {
    display: inherit;
  }
}

.dropdown {
  display: none;
  @media screen and (max-width: $lg) {

    display: inherit;
    position: relative;
    box-shadow: none;
    width: 100%;
    font-size: 1.6rem;
    text-align: center;
  }

  background-color: $color-secondary-light-1;
  list-style: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 180%;
  text-align: center;
  box-shadow: 0 3rem 2rem rgba($color-black, .3);
  z-index: 11;

  &__link {

    display: block;
    padding: 2rem;
    text-decoration: none;

    &:link,
    &:visited {

      color: $color-secondary-dark-3;
    }

    &:hover {

      background-color: $color-secondary-dark-3;
      color: $color-secondary-light-1;
    }

    &:active {

      background-color: $color_primary-dark-2;
      color: $color-primary-light-1;
    }
  }
}

#hamburger-button {
  position: fixed;
  z-index: 100;
  width: 4rem;
  top: 1rem;
  right: 1rem;
  padding: 4px;
  border-radius: 10%;
  border: black solid 1px;
  background: $color-creme;
  cursor: pointer;
}

.close-icon {
  display: none;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background: $color-secondary-light-1;
  color: $color-creme;
  list-style: none;
  padding-top: 4rem;
}

.show-menu {
  transform: translateY(0);
}
