*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

*::selection {
  background-color: rgba($color-primary-light-1, .6);
}

html {
  font-size: 62.5%; // 1rem = 10px (10 /16 = 0,625 )
  font-family: 'Lora', serif;
  scroll-behavior: smooth;
}

body {
  position: relative;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

.home__body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}