main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-column: 1/-1;
}

.section__hero {

  grid-column: 1/-1;
  z-index: 1;
  position: relative;
  background-image:
          linear-gradient(to bottom right,
                  rgba($color-primary, .8),
                  rgba($color-primary-dark-2, .8)),
          url("../../img/hero.jpg");
  height: 100vh;
  background-position: center;
  background-size: cover;


  .heading-1 {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);

  }

  .company-name {

    color: $color-creme;
    font-family: 'Lora', cursive;
    text-transform: uppercase;
    font-size: 10rem;
    letter-spacing: 1.5rem;
    text-align: center;
    margin-bottom: 3rem;
    animation: whooshRight ease-in-out 1s ;

    @media screen and (max-width: $md) {
      font-size: 6rem;
    }

    @media screen and (max-width: $sm) {
      font-size: 4rem;
    }
  }

  .hero-words {
    color: $color-primary-light-1;
    text-align: center;
    letter-spacing: .8rem;
    font-size: 2rem;
    text-transform: lowercase;
    animation: whooshBottom ease-in-out 1s;
  }
}

.section__promises {

  grid-column: 1/-2;

  @media screen and (max-width: $xl) {
    grid-column: 1/-1;
    width: 100%;
    height: 100%;
    padding: 10rem 0;

  }

  max-width: 120rem;
  margin: 3rem auto;
  font-size: 2rem;
  display: grid;
  height: 100vh;

  grid-template-columns: repeat(auto-fit, minmax(20rem, 35rem));
  justify-content: center;
  align-content: center;
  align-items: start;
  justify-items: center;
  grid-gap: 4rem;


  .heading-2 {

    grid-column: 1/-1;
  }

  .promise {

    display: grid;
    grid-template-columns: min-content 1fr;
    grid-row-gap: 1.5rem;
    grid-column-gap: 2.5rem;
  }

  .promise__icon {

    width: 4rem;
    fill: $color-secondary-light-2;
    grid-row: 1/span 2;
  }
}

.promise__aside {

  font-size: 1.4rem;
  text-indent: 1rem;
  grid-column: -2/-1;
  @media screen and (max-width: $xl) {
    height: 20rem;
    grid-column: 1/-1;
  }

  &__text {

    @media screen and (max-width: $xl) {
      text-align: center;
      width: 50%;
    }
  }

  background-color: $color-secondary-light-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: $color-black;
}



.section__offers {

  grid-column: 1/-2;
  @media screen and (max-width: $xl) {
    grid-column: 1/-1;
    height: 100%;
    padding: 10rem 0;
  }

  max-width: 120rem;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
  background-color: $color-white;
  padding-top: 5rem;
  margin-bottom: 20rem;
  grid-gap: 4rem;
  position: relative;

  .offer__flex {
    display: flex;
    flex-direction: row;

    @media screen and (max-width: $lg) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  .offer {

    background-color: $color-creme;
    border-radius: 3rem;
    overflow: hidden;
    height: 54rem;
    width: 30rem;
    margin: 3rem;

    @media screen and (max-width: $lg) {
      width: 50vw;
      height: 100%;
    }

    @media screen and (max-width: $md) {
      width: 75vw;
    }

    &__list {

      list-style: none;
    }

    &__item {

      text-align: center;
      display: block;
      padding: 1rem;
      font-size: 2rem;

      &:not(:last-child) {

        border-bottom:.1rem solid rgba($color-secondary-light-2, .5);
      }
    }

    &__price {
      text-align: center;
      display: block;
      font-size: 3rem;
      margin: 2rem;

    }
  }

  .image-contain--1 {

    background-image: linear-gradient(to right, rgba($color-primary, .6), rgba($color-primary, .6)), url("../img/card1.jpg");
    height: 22rem;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

    background-position: center;
  }

  .image-contain--2 {

    background-image: linear-gradient(to right, rgba($color-primary, .6), rgba($color-primary, .6)), url("../img/card2.jpg");
    height: 22rem;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    background-position: center;
  }

  .image-contain--3 {

    background-image: linear-gradient(to right, rgba($color-primary, .6), rgba($color-primary, .6)), url("../img/card3.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    height: 22rem;
    background-size: cover;
    background-position: center;
  }
}

.offers__aside {

  font-size: 1.4rem;
  text-indent: 1rem;

  grid-column: -2/-1;
  grid-row: 3/4;
  @media screen and (max-width: $xl) {
    height: 20rem;
    grid-column: 1/-1;
    grid-row: 5/6;
  }

  background-color: $color-secondary-light-2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  color: $color-black;

  &__text {

    @media screen and (max-width: $xl) {
      width: 50%;
      text-align: center;
      text-indent: 0;
    }
  }

  .note__bold {

    font-weight: 700;
    color: $color-secondary-dark-2
  }

  .note__link {

    &,
    &:link,
    &:visited {
      color: $color-secondary-dark-2;
    }

    &:hover {
      color: $color-secondary;
    }

    &:active {
      color: $color-secondary-dark-3;
    }
  }
}

.section__happy-customers {

  grid-column: 1/-1;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to right, rgba($color-secondary-dark-2, .8) 20%, rgba($color-secondary-light-2, .8) ), url("../img/customers.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center ;
  justify-content: center;
  overflow: hidden;


  @media screen and (max-width: $lg)
  {
    padding: 10rem 0;
    height: 100%;
  }


  .review {

    background-color: $color-creme;
    max-width: 75rem;
    padding: 6rem 6rem 2rem;
    transform: skewX(-20deg);

    &:not(:nth-child(2)) {

      margin-bottom: 6rem;
    }

    &::before {

      content: '\275D';
      font-size: 8rem;
      color: $color-secondary-dark-3;
      opacity: .6;
      display: inline-block;
      position: absolute;
      transform: translateY(-1rem);
      top: 0;
      left: 1rem;
    }

    &::after {

      content: '\275E';
      font-size: 8rem;
      color: $color-secondary-dark-3;
      opacity: .6;
      display: inline-block;
      position: absolute;
      transform: translateY(-3rem);
      bottom: 0;
      right: 1rem;
    }


    &__text {

      text-align: center;
      font-size: 2.2rem;
      transform: skewX(20deg);
      margin-bottom: 6rem;
    }

    &__name {

      font-size: 1.8rem;
      text-align: end;
    }
  }
}



