.section__happy-customers {
  background-color: #333d29;
}

.section__hero {
  background-color: #582f0e;
}

.section__promises {
  background-color: #463f3a;
}
.section__offers {
  background-color: #7f4f24;
}